/* Global styles */

* {
    margin: 0;
    padding: 0;
    font-size: 100%;
}

/* Body and headings */

body {
    background-color: white;
    font-family: 'Poppins', Sans-Serif;
    color: black;
    text-align: center;
}

h1,
h2,
h3,
h4 {
    font-family: 'Abril Fatface', Cursive;
}


#main-container {
    padding: 20px 32px 64px 32px;

}

/* Intro text */
.intro-text {
    background-color: #D9B0CA;
    color: white;
    padding: 20px 32px 20px 32px;
}

/* Hero image */

#hero-image,
.hero-image {
    height: 400px;
    width: 100%;
    background-image: url(../images/pexels-tara-winstead-7723522.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    width: 100%;
    margin: 0;
    max-height: 90%;
    min-height: 450px;
}

#jumbotron.jumbotron.second-page, #hero-image.second-page {
    height: 100px;
    width: 100%;
    background-image: url(../images/pexels-tara-winstead-7723522.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    width: 100%;
    margin: 0;
    /* max-height: 190px; */
    min-height: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* #jumbotron.jumbotron.second-page,
#hero-image.second-page {
    height: 100px;
    width: 100%;
    background-image: url(../images/pexels-tara-winstead-7723522.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    width: 100%;
    margin: 0;
    min-height: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
}  */


li a {
    color: black;
}

.text-pink {
    color: #885e78;
    text-shadow: 2px 2px #fff;
}

.lighter-font {
    font-weight: lighter;
    font-family: 'Abril Fatface', Cursive;
}

#our-events {
    padding-top: 20px;
}

.display-4 {
    letter-spacing: 4px;
}

.lead {
    font-size: 100%;
}

lead pb-3 text-pink {
    font-family: 'Poppins', Sans-Serif;
    
}

/* CopePen CIRCULAR SPEECH BUBBLE */
/* COMMON COLOR + MAKE ROUND */
.circular,
.circular::before,
.circular::after {
    background: #f86a9a;
    border-radius: 50%;
}

/* "BUBBLE" */
.circular {
    font-size: 1.1em;
    color: #fff;
    text-shadow: 1px 1px #000;
    text-align: center;
    /* DIMENSIONS + BACKGROUND */
    padding: 30px 30px;
    max-width: 300px;
    position: relative;
}

.statistics {
    text-align: center;
}

/* Media queries for the info bubbles containing statistics on symptoms.html */

@media only screen and (min-width: 998px) {
    #circular-2 {
        margin-left: 8%;
        /*to alternate on larger screens*/
    }

    #circular-1,
    #circular-3 {
        margin-left: 80%;
    }
}

@media only screen and (max-width: 997px) {
    .circular {
        margin: 10px auto;
        /*to center on small screens*/
    }
    .index-hero #hero-image {
        height: 550px;
    }
}

/* Navigation menu */

.navbar {
    background-color: #D9B0CA;
    font-family: 'Abril Fatface', Cursive;
}


.navbar a.active {
    color: #8C4265;
}

.navbar a:hover {
    color: #8C4265;  
}

/* Cards */
.card .card-body {
    min-height: 300px;
}


/* Footer */

.main-footer {
    background-color: #D9B0CA;
    font-size: 150%;
    font-weight: 400;
    font-family: 'Abril Fatface', Cursive;
    color: white;
    padding: 40px 0;
    text-align: center;
    margin: 0;
    padding: 40px 0px;
}

#para-footer {
    margin-right: 60px;
}

.main-footer li {
    list-style-type: none;
    letter-spacing: 4px;
    padding: 10px 10px;
    display: inline-block;
    margin-right: 50px;
}

.main-footer ul {
    display: table;
    list-style-type: none;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    display: block;
}

.main-footer a {
    text-decoration: none;
    color: inherit;
}

.main-footer a:hover {
    color: #8C4265;

}


.card-title {
    background-color: #f86a9a;
    border-radius: 5px;
    padding: 5px;
}

/* Map */

#map {
    padding-top: 20px;
    height: 90vh;
    width: 100%;
}